<h1>Search Results</h1>

<h2>Your query for "<%= @query %>" returned <%= pluralize(@beers.size, 'result') %>.</h2>

<%= render partial: 'beers/beer',
            collection: @beers,
            locals: {show_links: true } %>